# Algerian Forest Fires Dataset Project EDA Part

## 1. UNDERSTANDING THE GIVEN TASK
#### Task Given by instructor Krish Naik
* Solve in ipynb:
1. Import the dataset.
https://archive.ics.uci.edu/ml/datasets/Algerian+Forest+Fires+Dataset++#
2. Do proper EDA(analysis) of your dataset and create a report
3. Then perform necessary preprocessing steps

## 2. DATA COLLECTION AND UNDERSTANDING

* I used a dataset on **Algerian Forest Fires** from UCI. The dataset contains a culmination of forest fire observations and data in two regions of Algeria: the Bejaia region and the Sidi Bel-Abbes region. The timeline of this dataset is from **June 2012 to September 2012**. In this project, we focused on whether certain weather features could predict forest fires in these regions using few Classification algorithms.


* As per the Task given i choose regression problem to predict fire weather index

## 3. DATA EXPLORATION

* In this step, we will apply Exploratory Data Analysis (EDA) to extract insights from the data set to know which features have contributed more in predicting Forest fire by performing Data Analysis using Pandas and Data visualization using Matplotlib & Seaborn. It is always a good practice to understand the data first and try to gather as many insights from it.


Below are tasks to be performed in EDA:

**1. Importing Libraries**


**2. Data Cleaning for EDA Report**

**3. Exploratory Data Analysis (EDA) on all Features**

### Task 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Load the Dataset and create DataFrame 
df = pd.read_csv(r'./dataset/Algerian_forest_fires_dataset.csv')
df.head()

                                                                  Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9 0   1.7 0              not fire

### Observation:

- The dataset is not in it's correct format it has a row (containing title of dataset), just above the columns of dataset which is not useful for analysis.

- To improve the DataFrame format we have to add `headers=1` inside the `pd.read_csv()`. let's take it as our challenge 1st.

![](./image/algerianforestfire_challenge1.png)

In [3]:
df = pd.read_csv(r'./dataset/Algerian_forest_fires_dataset.csv', header=1)
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

### Observation:

- Now, the dataset is shown in correct format as like it should be.

In [4]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://aarpitdubey:aarpitdubey@cluster0.celbfi0.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment Mr. Arpit Dubey. You are successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment Mr. Arpit Dubey. You are successfully connected to MongoDB!

In [5]:
# Convert Dataframe into Dictionary as MongoDB stores data in records/documents
data = df.to_dict(orient = 'records')

In [6]:
db = client['arpit_dubey']
forest_fire_collection = db['algerian_forest_fire_records']

# Insert records in the dataset into MongoDB collection "hotel_records"
forest_fire_collection.insert_many(data)
print("All the Data has been Exported to MongoDB Successfully")

All the Data has been Exported to MongoDB Successfully